{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if particle.enabled %}
  {% assets in 'head' with {priority: 0} %}
    <link rel="stylesheet" href="{{ url('gantry-theme://css/uikit.min.css') }}"/>
  {% endassets -%}

  {% scripts in 'footer' with {priority: 10} %}
    <script src="{{ url('gantry-theme://js/uikit.min.js') }}"></script>
  {% endscripts %}

  {% set rand = random() %}
  {% set acolor1 =  gantry.config.get('styles.accent.color-1') %}
  {% set acolor2 =  gantry.config.get('styles.accent.color-2') %}

  <style text="text/css">
      {% if particle.style == 0 %}
      .jl-heading-{{rand}} .jl-heading-style {
          text-align: {{particle.titlealign|default('center')}};
          margin-left: {% if particle.titlealign == 'left'%} -10px {% elseif particle.titlealign == 'center'%} auto {% elseif particle.titlealign == 'right'%} auto {% endif %};
          margin-right: {% if particle.titlealign == 'right'%} -10px {% elseif particle.titlealign == 'center'%} auto {% elseif particle.titlealign == 'left'%} auto {% endif %};
      }
      {% elseif particle.style == 1 %}
      .jl-heading-{{rand}} .jl-heading-style-1 .jl-heading-title:before {
          margin-left: {% if particle.titlealign == 'left'%} -40px {% elseif particle.titlealign == 'center'%} -15px {% elseif particle.titlealign == 'right'%} 10px{% endif %};
          left: 50%;
          width: 30px;
          position: absolute;
          content: '';
          bottom: 0px;
          height: 2px;
          background: #ddd;
      }
        {% elseif particle.style == 2 %}

      .jl-heading-{{rand}} .jl-heading-style-2 .jl-heading-title:before {
          left: 50%;
          margin-left: {% if particle.titlealign == 'left'%} -40px {% elseif particle.titlealign == 'center'%} -30px {% elseif particle.titlealign == 'right'%} -19px {% endif %};
          width: 60px;
          position: absolute;
          content: '';
          bottom: 0px;
          height: 2px;
          background: #ddd;
      }
  {% elseif particle.style == 3 %}
      .jl-heading-{{rand}} .jl-heading-style-3 .jl-heading-title:before {
          left: 50%;
          margin-left:{% if particle.titlealign == 'left'%} -40px {% elseif particle.titlealign == 'center'%} -45px {% elseif particle.titlealign == 'right'%} -49px {% endif %};
          width: 90px;
          position: absolute;
          content: '';
          bottom: 0px;
          height: 2px;
          background: #ddd;
      }
  {% elseif particle.style == 6 %}
      .jl-heading-{{rand}} .jl-heading-style-6 .jl-heading-title:before {
        top: 35px;
        left: 50%;
        margin-left: {% if particle.titlealign == 'left'%} -40px {% elseif particle.titlealign == 'center'%} -60px {% elseif particle.titlealign == 'right'%} -81px {% endif %};
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEyMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMjIgMTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMiAxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGNpcmNsZSBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSIjY2NjY2NjIiBzdHJva2Utd2lkdGg9IjIiIGN4PSI2MSIgY3k9IjYiIHI9IjUiLz48cmVjdCB5PSI1IiB3aWR0aD0iNTAiIGhlaWdodD0iMSIgZmlsbD0iI2NjYyIvPjxyZWN0IHg9IjcyIiB5PSI1IiB3aWR0aD0iNTAiIGhlaWdodD0iMSIgZmlsbD0iI2RkZCIvPjwvc3ZnPg==);
        content: '';
        position: absolute;
        width: 122px;
        height: 12px;
        bottom: 0px;
      }
        {% elseif particle.style == 7 %}
      .jl-heading-{{rand}} .jl-heading-style-7 .jl-heading-title:before {
        left: 50%;
        margin-left: {% if particle.titlealign == 'left'%} -40px {% elseif particle.titlealign == 'center'%} -13px {% elseif particle.titlealign == 'right'%} 15px {% endif %};
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjkiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0iI2RkZCIgY3g9IjUwIiBjeT0iNTAiIHI9IjUwIi8+PC9zdmc+);
        content: '';
        position: absolute;
        width: 27px;
        height: 6px;
        bottom: 0px;
      }
      {% elseif particle.style == 8 %}
      .jl-heading-{{rand}} .jl-heading-style-8 .jl-heading-title:before {
        top: 35px;
        left: 50%;
        margin-left: {% if particle.titlealign == 'left'%} -50px {% elseif particle.titlealign == 'center'%} -61px {% elseif particle.titlealign == 'right'%} -70px {% endif %};
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTI0NCAzOTEgMTIyIDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IC0yNDQgMzkxIDEyMiAxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGlkPSJYTUxJRF8zOTNfIiBjbGFzcz0ic3QwIiBwb2ludHM9Ii0xNzIuNiwzOTEgLTE3My44LDM5MSAtMTc1LjYsMzkyLjggLTE4Myw0MDAuMiAtMTkwLjQsMzkyLjggLTE5Mi4yLDM5MSAtMTkzLjQsMzkxICAgLTI0NCwzOTEgLTI0NCwzOTIuOCAtMTkyLjksMzkyLjggLTE4Myw0MDIuNyAtMTczLjEsMzkyLjggLTEyMiwzOTIuOCAtMTIyLDM5MSAiIGZpbGw9IiNEREREREQiLz48L3N2Zz4=);
        content: '';
        position: absolute;
        width: 122px;
        height: 12px;
        bottom: 0px;
      }
      {% endif %}

      .jl-heading-{{rand}} .jl-heading-title{
        color: {% if particle.titlecolor %} {{particle.titlecolor}} {% else %} {{acolor1}} {% endif %};
        font-size: {% if particle.titlesize %} {{particle.titlesize}}px {% else %} 18px {% endif %};

      }
      .jl-heading-{{rand}} .jl-heading-subtitle{
        margin: 0 !important;
        color: {% if particle.subtitlecolor %} {{particle.subtitlecolor}} {% else %} {{acolor1}} {% endif %};
        font-size: {% if particle.subtitlesize %} {{particle.subtitlesize}}px {% else %} 14px {% endif %};
      }

  </style>

  {% if particle.style == 0 %}
      <div class="jl-heading-{{rand}} uk-grid">
        <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
        		<div class="jl-heading-content">
        			<div class="jl-heading-style " >
                <h3 class="jl-heading-title">{{particle.title|raw}}</h3>
              </div>
              {% if particle.subtitle %}
                <p class="jl-heading-subtitle">{{particle.subtitle|raw}}</p>
              {% endif %}
           </div>
        </div>
     </div>
  {% elseif particle.style == 1 %}
      <div class="jl-heading-{{rand}} uk-grid">
        <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
        		<div class="jl-heading-content">
        			<div class="jl-heading-style jl-heading-style-1" >
                <h3 class="jl-heading-title">{{particle.title|raw}}</h3>
              </div>
              {% if particle.subtitle %}
                <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
              {% endif %}
           </div>
        </div>
     </div>
   {% elseif particle.style == 2 %}
       <div class="jl-heading-{{rand}} uk-grid">
         <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
         		<div class="jl-heading-content">
         			<div class="jl-heading-style jl-heading-style-2" >
                 <h3 class="jl-heading-title">{{particle.title|raw}}</h3>
               </div>
               {% if particle.subtitle %}
                 <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
               {% endif %}
            </div>
         </div>
      </div>
  {% elseif particle.style == 3 %}
      <div class="jl-heading-{{rand}} uk-grid">
        <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
        		<div class="jl-heading-content">
        			<div class="jl-heading-style jl-heading-style-3" >
                <h3 class="jl-heading-title">{{particle.title|raw}}</h3>
              </div>
              {% if particle.subtitle %}
                <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
              {% endif %}
           </div>
        </div>
     </div>
   {% elseif particle.style == 4 %}
       <div class="jl-heading-{{rand}} uk-grid">
         <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
         		<div class="jl-heading-content">
         			<div class="jl-heading-style jl-heading-style-4" >
                 <h3 class="jl-heading-title jl-heading-title-4">{{particle.title|raw}}</h3>
               </div>
               {% if particle.subtitle %}
                 <p class="jl-heading-subtitle"style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
               {% endif %}
            </div>
         </div>
      </div>
  {% elseif particle.style == 5 %}
      <div class="jl-heading-{{rand}} uk-grid">
        <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
        		<div class="jl-heading-content">
        			<div class="jl-heading-style jl-heading-style-5" >
                <h3 class="jl-heading-title jl-heading-title-5">{{particle.title|raw}}</h3>
              </div>
              {% if particle.subtitle %}
                <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
              {% endif %}
           </div>
        </div>
     </div>
   {% elseif particle.style == 6 %}
       <div class="jl-heading-{{rand}} uk-grid">
         <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
         		<div class="jl-heading-content">
         			<div class="jl-heading-style jl-heading-style-6" >
                 <h3 class="jl-heading-title jl-heading-title-6">{{particle.title|raw}}</h3>
               </div>
               {% if particle.subtitle %}
                 <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
               {% endif %}
            </div>
         </div>
      </div>
    {% elseif particle.style == 7 %}
        <div class="jl-heading-{{rand}} uk-grid">
          <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
             <div class="jl-heading-content">
               <div class="jl-heading-style jl-heading-style-7" >
                  <h3 class="jl-heading-title jl-heading-title-7">{{particle.title|raw}}</h3>
                </div>
                {% if particle.subtitle %}
                  <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
                {% endif %}
             </div>
          </div>
       </div>
     {% elseif particle.style == 8 %}
         <div class="jl-heading-{{rand}} uk-grid">
           <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
              <div class="jl-heading-content">
                <div class="jl-heading-style jl-heading-style-8" >
                   <h3 class="jl-heading-title jl-heading-title-8">{{particle.title|raw}}</h3>
                 </div>
                 {% if particle.subtitle %}
                   <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
                 {% endif %}
              </div>
           </div>
        </div>
      {% elseif particle.style == 9 %}
          <div class="jl-heading-{{rand}} uk-grid">
            <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
               <div class="jl-heading-content">
                 <div class="jl-heading-style jl-heading-style-9" >
                    <h3 class="jl-heading-title jl-heading-title-9">{{particle.title|raw}}</h3>
                  </div>
                  {% if particle.subtitle %}
                    <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
                  {% endif %}
               </div>
            </div>
         </div>
       {% elseif particle.style == 10 %}
           <div class="jl-heading-{{rand}} uk-grid">
             <div class="uk-width-1-1" style="text-align:{% if particle.titlealign %} {{particle.titlealign|default('center')}}{% endif %} ">
                <div class="jl-heading-content">
                  <div class="jl-heading-style jl-heading-style-10" >
                     <h3 class="jl-heading-title jl-heading-title-10">{{particle.title|raw}}</h3>
                   </div>
                   {% if particle.subtitle %}
                     <p class="jl-heading-subtitle" style="text-align:{% if particle.subtitlealign %} {{particle.subtitlealign|default('center')}}{% endif %} ">{{particle.subtitle|raw}}</p>
                   {% endif %}
                </div>
             </div>
          </div>

  {% endif %}


{% endif %}
{% endblock %}
